:root {
	--mainBlue: #273c75;
	--lightBlue: #0097e6;
	--mainWhite: #f5f6fa;
	--mainDark: #2f3640;
	--mainYellow: #fbc531;
}

body {
	font-family: 'Quicksand', sans-serif !important;
	background: var(--mainWhite) !important;
	color: var(--mainDark) !important;
}

.text-title {
	letter-spacing: 0.1rem;
	text-transform: capitalize;
	font-weight: 700;
}

.text-blue {
	color: var(--mainBlue);
}

.text-bright {
	color: var(--lightBlue);
}

.btn-black {
	background: transparent;
	text-transform: capitalize;
	font-size: 0.8rem !important;
	color: var(--mainDark);
	border-radius: 0 !important;
	border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover {
	background: var(--mainDark) !important;
	color: var(--mainWhite) !important;
}

.cart-icon {
	cursor: pointer;
	font-size: 1.2rem;
	color: var(--mainYellow);
}
